@import 'fonts.css';

body {
    margin: 0;
    padding: 0;
    background: #f5f5eb;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 90%;
}

h1, h4 {
    font-family: "Delicious", "Trebuchet MS", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-weight: bold;
}

#infobox,
.olPopup {
    background: #fff !important;
    border: 1px solid #dbd8bc !important;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 153);
}

.olPopup img {
    display: none;
}

.olFramedCloudPopupContent {
    padding: 0 !important;
}

/* Info box {{{ */
#infobox {
    position: absolute;
    z-index: 100000;
    top: 24px;
    left: 60px;
    width: 400px;
    padding: 12px;
}

#infobox h1 {
    margin: 0;
}

#infobox button {
    float: right;
    margin-top: 4px;
}

#infobox_content {
    margin-top: 12px;
}

p.bus_stop {
    background: url(/images/bus_stop.p.12.png) center left no-repeat;
    padding-left: 24px;
}

#map_toolbar button {
    float: right;
    margin: 1px 1px 1px 10px;
}

#map_search {
    padding-top: 2px;
}

@media screen and (max-width: 650px) {
    /* Hide info box on smaller displays */
    #infobox {
        display: none;
    }
}
/* }}} */

/* Map elements {{{ */
.olControlAttribution {
    bottom: 3px !important;
    font-size: 0.8em !important;
    text-shadow: 0 0 2px #fff;
    opacity: 0.6;
}

.olControlLayerSwitcher > div > span,
.olControlLayerSwitcher .layersDiv {
    background: #333 !important;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.olControlOverviewMapElement {
    background: #666;
}

.olPopup h4 {
    margin: 0 0 6px 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: bold;
}
/* }}} */

.clear {
    clear: both;
}
